.about {
  @include section;
  background: white;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include heading-left(white, $red, $dark);
  }

  &__content {
    font-size: 1.25rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2em;

    & p:first-child {
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: $media-query) {
  .about {
    & .container {
      flex-direction: column;
    }

    &__heading {
      @include heading-mobile;
    }

    &__content {
      text-align: justify;
      display: block;
      padding-left: 0;
    }
  }
}
