.contact {
  @include section;
  background: $light-gray;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include heading-right($light-gray, $dark, $red);
  }

  &__content {
    font-size: 1.25rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2em;
  }

  &__list {
    padding-right: 2em;
  }

  &__item {
    font-size: 2.75rem;
    margin-bottom: 0.5em;

    & a {
      display: inline-block;
      color: $dark;
      transform-origin: left;
      transform: scale(1);
      transition: transform 0.25s;

      &:hover {
        transform: scale(1.05);
      }
    }

    & .fa-linkedin {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: $media-query) {
  .contact {
    @include mobile-section;

    & .container {
      flex-direction: column;
    }

    &__heading {
      @include heading-mobile;
    }

    &__content {
      text-align: justify;
      display: block;
      padding-left: 0;
    }

    &__item {
      font-size: 1.5rem;
    }

    & .fa-linkedin {
      font-size: 2rem;
    }
  }
}
