.education {
  @include section;
  background: white;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include heading-left(white, $red, $dark);
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 1.25rem;
  }

  &__category {
    margin-left: 3em;
  }

  &__school {
    margin-bottom: 1.5em;
  }

  &__school:last-child {
    margin-bottom: 0;
  }

  &__school-name {
    color: $red;
  }

  &__discipline {
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__date {
    font-style: oblique;
    font-size: 1rem;
  }

  &__achievement-list {
    font-size: 0.9rem;
    padding-left: 1.25em;
    margin-top: 0.75em;
  }

  &__achievement {
    list-style-type: disc;
  }

  &__note {
    font-size: 1rem;
    margin-top: 0.5em;

    & a {
      color: $dark;

      &:hover {
        text-decoration: underline;
      }
    }

    & i {
      padding-right: 0.5em;
    }
  }

  &__class-list {
    padding-left: 1em;
  }

  &__class {
    list-style-type: circle;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: $media-query) {
  .education {
    @include mobile-section;

    & .container {
      flex-direction: column;
    }

    &__heading {
      @include heading-mobile;
    }

    &__content {
      flex-direction: column;

      & > *:first-child {
        margin-bottom: 1.5em;
      }
    }

    &__category {
      margin-left: 0;
    }

    &__school-name {
      font-size: 1.5rem;
    }

    &__class {
      font-size: 1rem;
    }
  }
}
