.hero {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  background: url(/_img/bruce-mars-xj8qrWvuOEs-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding: 6em 2em;
  position: relative;

  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.85;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 200;
    color: white;
    position: relative;
    z-index: 1;
  }

  &__title::before,
  &__title::after {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    color: $red;
    position: absolute;
  }

  &__title::before {
    content: "Hi, I'm";
    top: 0;
    left: 3px;
  }

  &__title::after {
    content: "Web Developer // Video Editor";
    right: 0;
    bottom: -10px;
  }
}

@media screen and (max-width: $media-query) {
  .hero {
    height: 50vh;

    &__title {
      font-size: 2.5rem;
    }

    &__title::before,
    &__title::after {
      font-size: 1.25rem;
    }
  }
}
