.samples {
  @include section;
  background: $red;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include heading-right($red, white, $dark);
  }

  &__content {
    width: 100%;
  }

  &__categories {
    display: flex;
    color: $light-gray;
    margin-bottom: 2em;
  }

  &__category {
    margin-right: 7em;
  }

  &__title {
    cursor: pointer;
    display: inline-block;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.25s;

    &:hover,
    &.active {
      color: white;
      text-decoration: underline;
      transform: scale(1.4);
    }
  }

  &__samples {
    position: relative;
    overflow: hidden;
    margin-right: 2em;
  }

  &__list-container {
    width: 100%;
    height: 100%;
    transition: transform 0.35s;
  }

  &__list {
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: flex;
    align-items: stretch;
  }

  &__list--web {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item--web {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: white;
    width: 49.5%;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 0.5em;

    & > * {
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0.5em;
      background-repeat: no-repeat;
      background-position: left;
      background-size: 200%;
      opacity: 0.08;
    }

    &:nth-child(1):before {
      background-image: url(/_img/logos/friskypixel.png);
    }

    &:nth-child(2):before {
      background-image: url(/_img/logos/tweddle.png);
    }

    &:nth-child(3):before {
      background-image: url(/_img/logos/udacity.png);
      background-size: 100%;
    }

    &:nth-child(4):before {
      background-image: url(/_img/logos/udemy.png);
    }
  }

  &__item--title {
    color: $red;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  &__item--description {
    margin-bottom: 2em;
  }

  &__item--links {
    margin-top: auto;
  }

  &__item--link {
    display: inline-block;
    width: 30%;
    min-width: 100px;
    color: white;
    background: $dark;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-right: 0.5em;
    transition: all 0.25s;

    &:hover {
      color: $dark;
      background: $gray;
    }
  }

  &__list--video {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;

    & a {
      color: white;
      text-decoration: underline;

      &:hover,
      &:hover i {
        color: $dark;
      }
    }

    & i {
      color: white;
      font-size: 1rem;
      padding-left: 0.5em;
    }
  }

  &__item--video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1em;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $media-query) {
  .samples {
    @include mobile-section;

    & .container {
      flex-direction: column;
    }

    &__heading {
      @include heading-mobile;
    }

    &__categories {
      justify-content: space-around;
    }

    &__category {
      flex-basis: auto;
      margin-right: 0;
    }
    &__category {
      margin-right: 0;
    }

    &__title {
      transform-origin: center;

      &:hover,
      &.active {
        transform: scale(1.15);
      }
    }

    &__samples {
      margin-right: 0;
    }

    &__item--web {
      width: 100%;
      margin-bottom: 2em;
    }
  }
}
