.skills {
  @include section;
  background: white;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include heading-left(white, $dark, $red);
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 1.25rem;
  }

  &__category {
    margin-bottom: 0.35em;
  }
}

@media screen and (max-width: $media-query) {
  .skills {
    @include mobile-section;

    & .container {
      flex-direction: column;
    }

    &__heading {
      @include heading-mobile;
    }

    &__content {
      flex-direction: column;

      & > *:first-child {
        margin-bottom: 1.5em;
      }
    }

    &__category {
      font-size: 1.25rem;
    }

    &__item {
      font-size: 1rem;
    }
  }
}
